<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.huawei.game2048"
    android:versionCode="1"
    android:versionName="1.0" >



    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_VIDEO" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera.flash" />

    <!-- 必须申明的权限 -->
    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.WRITE_SETTINGS" >
    </uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />



    <application
        android:name="com.huawei.game2048.app.MyAppLication"
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.huawei.game2048.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.huawei.game2048.MainActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.huawei.game2048.SettingActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.huawei.game2048.FileExplorerActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.huawei.game2048.AlbumActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.huawei.game2048.PhotoActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.huawei.game2048.ProtocolActivity"
            android:screenOrientation="portrait" >
        </activity>
		<activity
            android:name="com.huawei.game2048.NotificationActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask" >
        </activity>

    </application>

</manifest>
